In [27]:
import pandas as pd
import pandas_datareader as pdr

In [52]:
# Retrieve the Fama French 3-factor data
factors = pdr.get_data_famafrench("F-F_Research_Data_Factors")

C:\Users\tsebo\AppData\Local\Temp\ipykernel_16392\1913927924.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  factors = pdr.get_data_famafrench("F-F_Research_Data_Factors")
C:\Users\tsebo\AppData\Local\Temp\ipykernel_16392\1913927924.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  factors = pdr.get_data_famafrench("F-F_Research_Data_Factors")

In [54]:
# Display the monthly data
display(factors[0].head())

         Mkt-RF   SMB   HML    RF
Date
2020-04   13.65  2.45 -1.34  0.00
2020-05    5.58  2.49 -4.85  0.01
2020-06    2.46  2.69 -2.23  0.01
2020-07    5.77 -2.30 -1.44  0.01
2020-08    7.63 -0.28 -2.88  0.01

In [56]:
# Display the annual data
display(factors[1].head())

      Mkt-RF    SMB    HML    RF
Date
2020   23.66  12.72 -46.10  0.45
2021   23.57  -3.78  25.39  0.04
2022  -21.58  -7.04  25.97  1.43
2023   21.69  -3.28 -13.70  4.95
2024   19.78 -11.13  -9.10  5.26